version: '3.8'

services:
  db:
    image: mariadb:10.11
    container_name: wordpress_db
    restart: always
    env_file: .env
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - backend

  wordpress:
    build:
      context: .
      dockerfile: wordpress/Dockerfile
    container_name: wordpress_app
    restart: always
    env_file: .env
    volumes:
      - ./wordpress_files:/var/www/html
    depends_on:
      - db
      - redis
    networks:
      - backend

  nginx:
    image: nginx:stable-alpine
    container_name: wordpress_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./wordpress_files:/var/www/html
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/logs:/var/log/nginx
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    depends_on:
      - wordpress
    networks:
      - backend

  certbot:
    image: certbot/certbot
    container_name: wordpress_certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - backend

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: wordpress_phpmyadmin
    restart: always
    ports:
      - "8080:80"
    env_file: .env
    depends_on:
      - db
    networks:
      - backend

  redis:
    image: redis:alpine
    container_name: wordpress_redis
    restart: always
    networks:
      - backend

networks:
  backend:
    driver: bridge
